body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background: #F0F0F7;
}

/*Dashboard styles*/
#sidebar {
  position: fixed;
  height: 100vh;
  background-color: #43425D;
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
}

#sidebar .ui.menu > a.menuTitle.item {
  text-align: center;
}

#sidebar .ui.menu > a.item {
  padding: 10px 20px;
  line-height: 28px;
  color: #FFF;
  border-radius: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
} 

#sidebar .ui.menu > a.item.headerTitle {
font-size:18px;
top: 6px;
}
#sidebar .ui.menu > a.item.log-out{
  color: red;
  font-weight: bold;
  font-size: 20px;

}
#sidebar > div > a.header.headerTitle{
  color: #FFF;
  text-align: center;
  bottom: 15;
}

#sidebar .ui.menu > a.item:hover {
  background-color: #eee;
  color: #23527c;
}

#content {
  padding-top: 56px;
  padding-left: 20px;
  padding-right: 20px;
}

#content h1 {
  font-size: 15px;
}

#content .ui.dividing.header {
  width: 100%;
}

.ui.borderless.menu {
  box-shadow: none;
  flex-wrap: wrap;
  border: none;
  padding-left: 0;
  padding-right: 0;
  z-index: -1;
}

/* .ui.borderless.fluid.inverted.top.fixed.menu{
  background-color: #FFF;
} */






.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}
